extends layout

block content
  // Page header that fills entire width, containing a column that limits text width to 6
  #banner.page-header
    .row
      .col-lg-6
        h1 LocateR
          small &nbsp;Find places to work with wifi near you.


  .row
    // Container for list of locations, spanning 12 col on xs and 8 col on small devices or larger
    .col-xs-12.col-sm-8
      p List area.
      // Container for secondary or sidebar, spanning 12 col on xs and 4 col on small devices or larger
    .col-xs-12.col-sm-4
      p.lead LocateR helps you find places to work when out and about.